{% extends 'base.html' %}
{% load static %}
{% block context %}

<script src="{% static 'js/moment.js'%}"></script>
<script src="{% static 'js/Chart.min.js'%}"></script>
<script src="{% static 'js/Chart.js'%}"></script>
<script src="{% static 'js/chart.util.js'%}"></script>

<div id="app">
    <main_menu></main_menu>   
    <b-container fluid>
<div class="card-title mt-5 mb-3 pt-3">
    <div class="row">
        <div class="col text-left"><h2>{{linha_nome}} - Histórico</h2></div>

        <div class="col text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/oee'">Fábrica</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/oee/linha/{{linha_id}}'">ao vivo</button>
                <button type="button" class="btn btn-primary disabled">Histórico</button>
                <!--<button type="button" class="btn btn-danger">Zerar</button>-->
            </div>
        </div>
    </div>
</div>
<hr>

<div id="timerPikers">
    <label class="m-auto pr-3" for="ini-data">Data Inicial:</label>
    <b-input-group>
        <b-form-input
            @change=" mudaDataIni(false)"
            :state="iniDataState"
            id="ini-data"
            v-model="iniDataFormatada"
            type="text"
            autocomplete="off"
            placeholder="DD-MM-AAAA"
        ></b-form-input>
        <b-input-group-append>
            <b-form-datepicker
                @input=" mudaDataIni(true)"
                v-model="iniData"
                right
                button-only
                locale="br"
                area-controls="ini-data"
            ></b-form-datepicker>
        </b-input-group-append>
    </b-input-group>
        <b-input-group>
        <b-form-input
            @change="mudaTimeIni(false)"
            :state="iniTimeState"
            id="ini-time"
            v-model="iniTimeFormatada"
            type="text"
            autocomplete="off"
            placeholder="HH:MM"
        ></b-form-input>
        <b-input-group-append>
            <b-form-timepicker
                @input="mudaTimeIni(true)"
                v-model="iniTime"
                locale="br"
                v-bind="timeLabels"
                right
                button-only
                area-controls="ini-time"
            ></b-form-timepicker>
        </b-input-group-append>
    </b-input-group>
</div>

</b-container>
</div>

<script>

var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
        created(){
            this.load()
        },
        data:{
            ini:"{{ini}}",
            iniData: "",
            iniDataFormatada:"",
            iniDataState: false,
            iniTime: "",
            iniTimeFormatada: "",
            iniTimeState: false,
            timeLabels: {
                labelHours: 'Horas',
                labelMinutes: 'Minutos',
                labelSeconds: 'Segundos',
                labelIncrement: '+',
                labelDecrement: '-',
                labelSelected: 'Selecionado',
                labelNoTimeSelected: 'Sem Seleção',
                labelCloseButton: 'Fechar'
                }
        },
        computed:{  
        },
        methods:{
            load(){
                buffer = this.ini.split('T')
                this.iniData = buffer[0]
                this.mudaDataIni(true)
                this.iniTime = buffer[1]
                this.mudaTimeIni(true)
            },
            mudaIni(){
                if(this.iniDataState && this.iniTimeState){
                    this.ini=`${this.iniData}T${this.iniTime}`
                }else{
                    this.ini=""
                }
            },
            mudaDataIni(reverter){
                if(reverter){
                    var buffer = this.iniData.split('-')
                }else{
                    var buffer = this.iniDataFormatada.split('-')
                }
                if(buffer.length==3){
                    if(reverter){this.iniDataFormatada = `${buffer[2]}-${buffer[1]}-${buffer[0]}`}
                    else{this.iniData = `${buffer[2]}-${buffer[1]}-${buffer[0]}`}
                    this.iniDataState=true
                    this.mudaIni()
                }
                else{
                    this.iniDataFormatada=""
                    this.iniData=""
                    this.iniDataState=false
                }
            },
            mudaTimeIni(reverter){
                if(reverter){
                    var buffer = this.iniTime.split(':')
                    this.iniTimeFormatada=`${buffer[0]}:${buffer[1]}`
                    this.iniTimeState=true
                    this.mudaIni()
                }else{
                    var buffer = this.iniTimeFormatada.split(':')
                    if(buffer.length==2){
                        if(buffer[0]>=0 && buffer[0]<24 && buffer[1]>-1 && buffer[1]<61){
                            this.iniTime=this.iniTimeFormatada
                            this.iniTimeState=true
                            this.mudaIni()
                        }else{
                            this.iniTimeState=false
                            this.iniTime=""
                            this.iniTimeFormatada=""
                        }
                    }else{
                        this.iniTime=""
                        this.iniTimeFormatada=""
                        this.iniTimeState=false
                    }
                }
            },
            
        },
    })

</script>

{% endblock %}