{% extends 'base.html' %}
{% load static %}
{% block context %}

<script src="{% static 'js/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'js/justgage.js' %}"></script>
<script src="{% static 'framework/vue/componentes/oee/painel_oee.js' %}"></script>
<script src="{% static 'framework/vue/componentes/utils/gage.js' %}"></script>

<div id="app">
<main_menu></main_menu>   
<b-container fluid>
<div class="card-title mt-5 mb-3 pt-3">
    <div class="row">
        <div class="col text-left">
            <h2>Fábrica Visão Geral</h2>
        </div>
    </div>
</div>
<hr>

<div class="container-fluid row m-auto">
    <div v-for="i in dados" :key="i.id">
        <painel_oee :id=i.id ref="painel" :oee=i.oee :title=i.nome :status=i.estado />
    </div>    
</div>
</b-container>
</div>


<script>
    
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
        created(){
            this.load()
            setInterval(()=>{
                this.load()
                this.frame()
            },2000)
        },
        data:{
            dados:[],
            erro: false,
            num: 0,
        },
        methods:{
            load(){
                this.getLinhas()
            },
            altera(){
                this.$refs.gage.refresh(this.num)
            },
            frame(){
                for(var x =0;x<this.$refs.painel.length;x++){
                    this.$refs.painel[x].refresh(this.dados[x].oee,this.dados[x].estado)
                }               
            },
            async getLinhas(){
                fetch('/oee/conjunto_linhas',{
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(res=>{
                    if(res.status === 200){
                        return res.text()
                    }
                }).then(result=>{
                    //console.log(result)
                    this.dados = JSON.parse(result)
                    this.erro= false
                }).catch(erro=>{
                    console.log(erro)
                    this.erro= true
                })
            }
        },
    })

    

</script>

{% endblock %}