{% extends 'base.html' %}
{% load static %}
{% block context %}

<script src="{% static 'js/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'js/justgage.js' %}"></script>
<script src="{% static 'framework/vue/componentes/oee/painel_oee.js' %}"></script>
<script src="{% static 'framework/vue/componentes/utils/gage.js' %}"></script>

<style>
    .painel{
        min-width:200px; max-width:250px;
    }
</style>

<div id="app">
<main_menu></main_menu>   
<b-container fluid>
    <div class="card-title mt-5 mb-3 pt-3">
        <div class="row">
            <div class="col text-left"><h2>{{dados.nome}}</h2></div>    
            <div class="col-auto text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/oee'">Fábrica</button>
                    <button type="button" class="btn btn-primary disabled">ao vivo</button>
                    <button type="button" class="btn btn-primary"  onclick="window.location.href='/oee/historico/{{dados.id}}'">Histórico</button>
                    <!--<button type="button" class="btn btn-danger">Zerar</button>-->
                </div>
            </div>
        </div>
        
    </div>
    <hr>
    <div class="container-fluid row m-auto">
        <div class="col-auto">
            <painel_oee id="oee" ref="painel" :oee="dados.oee" title="OEE" />
        </div>
        <div class="col-auto">
            <div class="bg-light border rounded mb-5 p-2 painel">
                <h3 class="text-center">Disponibilidade</h3>
                <gage ref="dis" id="dis" symbol="%"></gage>
                <b-form-group class="m-2" label="Operando:" label-for="opernado">
                    <b-form-input v-model="time_rodando" class="text-center text-primary" name="operando" disabled size="lg" type="text"></b-input>
                </b-form-group>
                <b-form-group class="m-2" label="Parado:" label-for="parado">
                    <b-form-input v-model="time_parado" class="text-center text-danger" name="parado" value="2:30" disabled size="lg" type="text"></b-input>
                </b-form-group>
            </div>
        </div>
        <div class="col-auto">
            <div class="bg-light border rounded mb-5 p-2 painel">
                <h3 class="text-center">Qualidade</h3>
                <gage ref="qua" id="qua" symbol="%"></gage>
                <b-form-group class="m-2" label="Produzido:" label-for="cont1">
                    <b-form-input v-model="dados.cont_in" class="text-center text-primary" name="cont1" value="1450" disabled size="lg" type="text"></b-input>
                </b-form-group>
                <b-form-group class="m-2" label="Reprovados:" label-for="cont2">
                    <b-form-input v-model="dados.cont_out" class="text-center text-danger" name="cont2" value="54" disabled size="lg" type="text"></b-input>
                </b-form-group>
            </div>
        </div>
        <div class="col-auto">
            <div class="bg-light border rounded mb-5 p-2 painel">
                <h3 class="text-center">Performance</h3>
                <gage ref="per" id="per" symbol="%"></gage>
                <b-form-group class="m-2" label="Atual:" label-for="vel">
                    <b-form-input v-model="format_vel" class="text-center text-primary" name="vel" disabled size="lg" type="text"></b-input>
                </b-form-group>
                <b-form-group class="m-2" label="Esperada:" label-for="vel_esp">
                    <b-form-input v-model="format_vel_esp" class="text-center text-primary" name="vel_esp" disabled size="lg" type="text"></b-input>
                </b-form-group>
            </div>
        </div>
    </div>
</b-container>
</div>



<script>

var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
        created(){
            this.getLinha()
            setInterval(() => {
                this.getLinha()
                this.frame()
            }, 1000);
        },
        data:{
            operando:'',
            dados:{"t_prod":0,"t_par":0},
        },
        computed:{   
            time_rodando(){
                var hora = parseInt(this.dados.t_prod/60).toString()
                var min = parseInt(this.dados.t_prod%60).toString()
                if(hora.length<2){hora=`0${hora}`}
                if(min.length<2){min=`0${min}`}
                var retorno = `${hora}:${min}`
                return retorno
            },     
            time_parado(){
                var hora = parseInt(this.dados.t_par/60).toString()
                var min = parseInt(this.dados.t_par%60).toString()
                if(hora.length<2){hora=`0${hora}`}
                if(min.length<2){min=`0${min}`}
                var retorno = `${hora}:${min}`
                return retorno
            },    
            format_vel(){
                return `${this.dados.vel_atu} p/min`
            },
            format_vel_esp(){
                return `${this.dados.vel_esp} p/min`
            }

        },
        methods:{
            async getLinha(){
                fetch('/oee/get_linha/{{dados.id}}',{
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(res=>{
                    if(res.status === 200){
                        return res.text()
                    }
                }).then(result=>{
                    //console.log(result)
                    this.dados = JSON.parse(result)
                    this.erro= false
                }).catch(erro=>{
                    console.log(erro)
                    this.erro= true
                })
            },
            frame(){
                this.$refs.painel.refresh(this.dados.oee,this.dados.estado)
                this.$refs.dis.refresh(this.dados.dis)
                this.$refs.qua.refresh(this.dados.q)
                this.$refs.per.refresh(this.dados.per)              
            },
        },
    })

</script>

{% endblock %}