{% extends 'base.html' %}
{% load static %}
{% block context %}

<style>
    .fundo {
        min-height: 660px;
        background-image: url("static/img/back25.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
</style>

<div id=app>
    <main_menu></main_menu>
    <div class="fundo">
        <!-- Mask & flexbox options-->
        <div class=" mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="container mb-auto" style="max-width:400px; opacity:1;">
                        <div class="card text-center mt-5 mb-5">
                            <div class="card-text">
                                <h2>DXM Web Interface <br /> OEE 3.0</h2>
                            </div>
                            <img class="mr-auto ml-auto mt-3 mb-3 " src="/static/img/dxm100.png" height="250"
                                width="180" />
                            <div class="card-footer text-center">Interface responsiva de visualização de aplicação OEE na
                                Plataforma DXM's Series Banner.</div>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
</div>

<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
    })
</script>

{% endblock %}