{% extends 'base.html' %}
{% load static %}
{% block context %}

<script src="{% static 'framework/vue/componentes/login.js' %}"></script>

<div id="app">
    <div>
        <div>
            <main_menu></main_menu>
        </div>
        <div class="text-center p-4">
            <img src="/static/img/dxmWebInterface.png" width="100" height="140" />
        </div>
        <div class="m-auto card col-sm-5 mb-5 p-3">
            <login dominio="/login/" @logou="logar"></login>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
        methods:{
            logar(){
                document.location.href="{% url 'index' %}"
            }
        }
    })
</script>




{% endblock %}