{% extends 'base.html' %}
{% load static %}
{% block context %}


<script src="{% static 'js/vue/componentes/main_menu.js' %}"></script>


<div id="app" class="mt-5 pt-5 mb-5 pb-5">
    <div class="mt-5 pt-5 mb-5 pb-5">
        <main_menu></main_menu>    
    </div>
</div>


<script>

    var app = new Vue({
        delimiters: ["[[", "]]"],
        el:'#app',
        methods:{
            logar(){
                document.location.href="{% url 'index' %}"
            }
        }
    })
</script>

{% endblock %}